
:root {
  --color-text: #0a3871;
  --color-bg: rgb(176,196,222);
  --color-btn-hover: rgb(102, 218, 198);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Popis', sans-serif; 
}


.vector-alura{

margin:15px;
padding-top:15px;
width: 2%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background: var(--color-bg);
}

section.secao { 
  padding: 60px 0;
  height: 100vh;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}
.row {
  height: 100%;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

button { /* botões */
  padding: 10px 20px;
  border-radius: 15px;
  width: 180px;
  margin: 0 8px;
  color: var(--color-text);
  font-weight: 600;
  cursor: pointer;
}

button.criptografar { 
  color: white;
  background: var(--color-text);
}

button.descriptografar:hover { 
  color: rgb(168, 167, 236);
  background: var(--color-text);
}

button.descriptografar { 
  color: var(--color-text);
  background: var(--color-bg);
}

button.descriptografar:hover {
  color: rgb(168, 167, 236);
  background: var(--color-text);
}



.main label { 
  height: 100%;
  width: 100%;
}

.output {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 40px 10px;
  align-items: center;
  background: rgb(255 255 255 / 60%);
  min-width: 30%;
}
.outputText {
  flex: 1;
}

textarea {
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0%);
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  color: var(--color-text);
}
.ponto{ 
 margin: 6px; 
}
.ponto-de-exclamacao{
  width: 1%;
padding: 16px 0px ;
position: absolute; 
left: 31%;


}
.copy.show.check {
  color: white;
  border: 2px solid white;
  background: green;
}

.copy { 
  display: none;
}

.copy.show {
  display: block;
}

.output {
  color: var(--color-text);
}

@media screen and (max-width: 800px) {

  .controls {
    display: flex;
    flex-direction: column;
  }

   .controls button {
    margin: 6px 0;
  }

  .output {
  }

  .row {
    flex-direction: column;
  }
}

footer {
    text-align: center;
    padding: 45px 0;
    background: #0a3871;
    color: #E5E5E5;
}


